# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac
.DS_Store

# R package folder and related files
cneta_lib/
*.R
*.rda

# Shell configuration files
*.bashrc
*.zshrc

# LBFGSB files
code/lbfgsb

# example files
example/

# compiled program files
cnets
cnetml
cnetmcmc

# workspace files
cneta.code-workspace

# vscode
.vscode/